# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: get-all-events-api
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs18.x

# you can overwrite defaults here
  stage: prod
  region: us-east-2

functions:
  signup:
    handler: handler.getAllEvents
#    The following are a few example events you can configure
#    NOTE: Please make sure to change your handler code to work with those events
#    Check the event documentation for details
    events:
      - httpApi:
          path: /api/v1/events
          method: get

#   Define function environment variables here
    environment:
      CONFIG: prod
      VERSION: 1
      APP_PORT: 6003
      LOG_LEVEL: debug
      APP_NAME: get-all-events-api
      DB_CONNECTION_STRING: mongodb+srv://ems-db.ehsz9n7.mongodb.net/?authSource=%24external&authMechanism=MONGODB-X509&retryWrites=true&w=majority
      SSL_CERT_PATH: mongodb-atlas-ssl-cert.pem